
h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
}

ol, ul{
    list-style: none;
}

.container{
    margin-top: 100px;
}

.fas, .far, .fab{
    margin: 10px;
}

#illust .carousel{
    position:relative;
    margin: 40px;
}

#illust .carousel-control-prev{
    opacity: 0.2;
    background-color: #2f4357;
    width: 30px;
}

#illust .carousel-control-next{
    opacity: 0.2;
    background-color: #2f4357;
    width: 30px;
}

#illust .carousel-control-prev:hover{
    opacity: 0.5;
}

#illust .carousel-control-next:hover{
    opacity: 0.5;
}

#creation .col-md-8{
    display: inline-block;
}
#creation .slide{
    padding: 20px;
    border: 1px solid black;
}

.snsWrapper{
    height: 4em;
    padding-top: 20px;
    border-top: 1px solid #c3c3c3;
}
.snsWrapper ul{
    display: inline-block;
    width: 100%;
}

.snsWrapper ul li{
    float: right;
    width: 10em;
    margin-right: 2em;
    text-align: center;
}
.snsWrapper ul li:hover{
    opacity: 0.5;
}

footer .snsWrapper ul li a{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.snsWrapper ul li img{
    height: 3em;
}
.snsWrapper .Twitter{
    background-color: #20a1f1;
}

.snsWrapper .Github{
    background-color: black;
}

.back-to-top{
    text-align: center;
    height: 8em;
    margin-top: 20px;
    border-top: 1px solid #c3c3c3;
}
.back-to-top .btt-btn{
    padding-top: 40px;

}
.back-to-top .gohome{
    font-weight: bold;
    color: #305097;
}

.blank{
    height: 10em;
}